%h1 Editing Hospital System

= render 'form', hospital_system: @hospital_system

= link_to 'Show', dabo_admin_hospital_system_path(@hospital_system)
\|
= link_to 'Back', dabo_admin_hospital_systems_path
