.row
  %h1 Editing #{@hospital_system.name}

  = render 'form', hospital_system: @hospital_system

  .bottom_margin_base
    = link_to 'Show', dabo_admin_hospital_system_path(@hospital_system)
    \|
    = link_to 'Back', dabo_admin_hospital_systems_path
