.row
  %h1.float_left Hospital Systems
  = link_to 'Add a Hospital System', |
    new_dabo_admin_hospital_system_path, |
    class: 'btn_blue float_right top_margin_base'

.row
  .table_responsive.top_margin_base.bottom_margin_base
    %table.table.table_bordered.table_hover
      %thead
        %tr
          %th Name
          %th
          %th

      - @hospital_systems.each do |hospital_system|
        %tr
          %td
            = link_to hospital_system.name, |
              dabo_admin_hospital_system_path(hospital_system)
          %td.text_center
            = link_to 'Edit', |
              edit_dabo_admin_hospital_system_path(hospital_system), |
              class: 'btn_blue btn_small'
          %td.text_center
            = link_to 'Delete', |
              dabo_admin_hospital_system_path(hospital_system), |
              method: :delete, data: { confirm: 'Are you sure?' }, |
              class: 'btn_red btn_small'
