.row
  %h1 Hospital System Detail

  .table_responsive.top_margin_base
    %table.table.table_bordered.table_hover.bottom_margin_base
      %thead
        %tr
          %th Name
          %th
          %th
      %tr
        %td= @hospital_system.name
        %td.text_center
          = link_to 'Edit', |
            edit_dabo_admin_hospital_system_path(@hospital_system), |
            class: 'btn_blue btn_small'
        %td.text_center
          = link_to 'Delete', |
            dabo_admin_hospital_system_path(@hospital_system), |
            method: :delete, |
            data: { confirm: 'Are you sure?' }, |
            class: 'btn_red btn_small'


  = link_to 'Back', dabo_admin_hospital_systems_path

