.measures_nav_btn.back_btn_container.border_grey.clearfix
  = link_to(back_button_options(node),
    { class: 'back_btn' }) do
    %span.icon.icon_large.icon_arrow_large_left.icon_left
    %span.parent_node_text= parent_link_text(node)
    %span.current_node_text
      = node.short_title
