%div.measures_nav_btn.forward_btn.border_grey.clearfix{ class: ('is_category_page' if category_page?) }
  = link_to id: child.id do
    %span.text
      = child.short_title
    %span.icon.icon_large.icon_arrow_large_right.icon_right
