$login_width_desktop: rem(460)
$login_width_mobile: $login_width_desktop / 2

.login
  width: $login_width_mobile
  +media($desktop)
    width: $login_width_desktop

#login_logo
  svg
    height: rem(100)
    width: rem(160)
  +media($desktop)
    svg
      height: rem(160)
      width: $login_width_desktop
