.login
  width: rem(260)

#login_logo
  height: rem(70)
  background: transparent image-url('dabo-logo.svg') no-repeat
  +media($desktop)
    height: rem(200)
    background: transparent image-url('dabo-d-logo.svg') no-repeat center
    width: 50%
