%h1 Buttons
%div
  = link_to 'Button Blue', root_url, class: 'btn_blue bottom_buffer_large'
  %code .btn_blue
%div
  = link_to 'Button Red', root_url, class: 'btn_red bottom_buffer_large'
  %code .btn_red
%div
  = link_to 'Small Button', root_url, class: 'btn_blue btn_small'
  %code .btn_small .btn_blue

%hr.top_buffer_large.bottom_buffer_large
