%h1#colors.section_title Colors
.row
  .col3.colors.brand_color_primary.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Brand Color Primary
      %p.no_margin #008CE3
  .col3.colors.brand_color_primary_light.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Brand Color Primary Light
      %p.no_margin #4ABAFF
  .col3.colors.grey.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Grey
      %p.no_margin #CCCCCC
  .col3.colors.grey_darker.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Grey Darker
      %p.no_margin #000000
.row.top_margin_base
  .col3.colors.grey_light.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Grey Light
      %p.no_margin #E0E0E0
  .col3.colors.grey_lighter.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Grey Lighter
      %p.no_margin #F2F2F2
%hr.top_margin_large.bottom_margin_large
