%h1#grids.section_title Responsive Grids
.row
  .col1.horizontal_padding_base.border_grey.text_center
    %code .col1
  .col2.inner_padding_base.border_grey.text_center
    %code .col2
  .col3.inner_padding_base.border_grey.text_center
    %code .col3
  .col6.inner_padding_base.border_grey.text_center
    %code .col6
.row.top_margin_base
  .col5.inner_padding_base.border_grey.text_center
    %code .col5
  .col7.inner_padding_base.border_grey.text_center
    %code .col7
.row.top_margin_base
  .col10.inner_padding_base.border_grey.text_center
    %code .col10
  .col2.inner_padding_base.border_grey.text_center
    %code .col2
.row.top_margin_base
  .col8.inner_padding_base.border_grey.text_center
    %code .col8
  .col4.inner_padding_base.border_grey.text_center
    %code .col4

%h2 Mobile Non-Collapsing Grid
.row.top_margin_base
  .col6-xs.inner_padding_base.border_grey.text_center
    %code .col6-xs
  .col6-xs.inner_padding_base.border_grey.text_center
    %code .col6-xs
.row.top_margin_base
  .col3-xs.inner_padding_base.border_grey.text_center
    %code .col3-xs
  .col3-xs.inner_padding_base.border_grey.text_center
    %code .col3-xs
  .col3-xs.inner_padding_base.border_grey.text_center
    %code .col3-xs
  .col3-xs.inner_padding_base.border_grey.text_center
    %code .col3-xs

%hr.top_margin_large.bottom_margin_large
