%h1#layout.section_title Layout Classes

%pre.preserve_whitespace.line_height_base
  :preserve
    .no_margin
    .top_margin_small
    .top_margin_base
    .top_margin_large
    .bottom_margin_small
    .bottom_margin_base
    .bottom_margin_large
    .left_margin_small
    .left_margin_base
    .left_margin_large
    .right_margin_small
    .right_margin_base
    .right_margin_large

    .no_padding
    .inner_padding_small
    .inner_padding_base
    .inner_padding_large
    .vertical_padding_small
    .vertical_padding_base
    .vertical_padding_large
    .vertical_padding_xl
    .horizontal_padding_small
    .horizontal_padding_base
    .horizontal_padding_large
    .horizontal_padding_xl
    .bottom_padding_large

    .centered
    .float_left
    .float_right
    .vertical_align_middle

    .line_height_base
    .line_height_computed
    .line_height_buffer_xl
    .line_height_buffer_base

    .hidden
    .block

%hr.top_margin_large.bottom_margin_large
