%h1#tables.section_title Tables
%h2 Regular Table
%pre.preserve_whitespace.line_height_base
  :preserve
    %table.table
      %tr
        %td Lions
        %td Tigers
      %tr
        %td Patriots
        %td Cowboys

%table.table.top_margin_base
  %tr
    %td Lions
    %td Tigers
  %tr
    %td Patriots
    %td Cowboys

%h2 Condensed Table
%pre.preserve_whitespace.line_height_base
  :preserve
    %table.table.table_condensed
      %tr
        %td Blue Bottle
        %td Sightglass
      %tr
        %td Four Barrel
        %td Ritual

%table.table.table_condensed.top_margin_base
  %tr
    %td Blue Bottle
    %td Sightglass
  %tr
    %td Four Barrel
    %td Ritual


%h2 Bordered Table
%pre.preserve_whitespace.line_height_base
  :preserve
    %table.table.table_bordered
      %tr
        %td Go
        %td Ruby
      %tr
        %td C
        %td Cobol

%table.table.table_bordered.top_margin_base
  %tr
    %td Go
    %td Ruby
  %tr
    %td C
    %td Cobol


%h2 Responsive Table
%pre.preserve_whitespace.line_height_base
  :preserve
    .table_responsive
      %table.table.table_bordered
        %tr
          %td Maria Sharapova
          %td Arthur Ashe
          %td Roger Federer
          %td Andre Agassi
        %tr
          %td Martina Hingis
          %td Steffi Graf
          %td Fred Perry
          %td Monica Seles

.table_responsive.top_margin_base
  %table.table.table_bordered
    %tr
      %td Maria Sharapova
      %td Arthur Ashe
      %td Roger Federer
      %td Andre Agassi
    %tr
      %td Martina Hingis
      %td Steffi Graf
      %td Fred Perry
      %td Monica Seles

%h2 Striped Table
%pre.preserve_whitespace.line_height_base
  :preserve
    %table.table.table_striped
      %tr
        %td Maru
      %tr
        %td Bart
      %tr
        %td Gorbachev
      %tr
        %td Grumpy Cat
      %tr
        %td Garfield
      %tr
        %td Henri
      %tr
        %td Sockington
      %tr
        %td Tuxedo Stan

%table.table.table_striped.top_margin_base
  %tr
    %td Maru
  %tr
    %td Bart
  %tr
    %td Gorbachev
  %tr
    %td Grumpy Cat
  %tr
    %td Garfield
  %tr
    %td Henri
  %tr
    %td Sockington
  %tr
    %td Tuxedo Stan

%h2 Hover Effects Table
%pre.preserve_whitespace.line_height_base
  :preserve
    %table.table.table_hover
      %tr
        %td Goodbye, Columbus
      %tr
        %td Portnoy's Complaint
      %tr
        %td The Human Stain
      %tr
        %td When She Was Good

%table.table.table_hover.top_margin_base
  %tr
    %td Goodbye, Columbus
  %tr
    %td Portnoy's Complaint
  %tr
    %td The Human Stain
  %tr
    %td When She Was Good

%hr.top_margin_large.bottom_margin_large
