#login_logo.icon.icon_brand_color_primary
  = render 'shared/icon', icon: '#icon_dabo-logo-vertical', klass: 'hide_on_mobile bottom_margin_base'
  = render 'shared/icon', icon: '#icon_dabo-logo', klass: 'hide_on_tablet_portrait hide_on_desktop'
