.tabs.clearfix.border_top_grey.border_right_grey.border_left_grey
  = link_to 'Login', new_user_session_path, class: 'login_tab col6-xs horizontal_padding_base text_center'
  = link_to 'Join', new_user_registration_path, class: 'join_tab col6-xs horizontal_padding_base text_center border_left_grey'
