.detail_chart
  height: rem(200) // Temporary height for wireframing purposes
  +media($tablet_portrait)
    height: rem(300) // Temporary height for wireframing purposes

  +media($desktop)
    height: rem(400) // Temporary height for wireframing purposes

.measure_detail
  .action
    // TODO: Replace mixin with mobile columns during work on #87564750
    +span-columns(3)
