%h1.breadcrumbs.hide_on_mobile.hide_on_tablet_portrait
  = render partial: 'public_charts/breadcrumbs/breadcrumb', collection: node.breadcrumbs,
    spacer_template: 'public_charts/breadcrumbs/breadcrumbs_spacer'
