.measures_nav_btn.forward_btn.line_height_buffer_xl.inner_padding_small.border_grey.clearfix
  = link_to '/metrics/public-data' do
    %span.text_ellipsis.with_small_icon Public Data
    %span.icon.icon_size_small.float_right.icon_brand_color_primary
      = render 'shared/icon', icon: '#icon_arrow_large_right', klass: 'vertical_align_middle'
