.row_offcanvas_left
  left: 0

.sidebar_offcanvas
  background: lighten($grey_lighter, 0.5%)

#left_nav
  background: $white

+media($desktop)
  .sidebar_offcanvas_spacer,
  .inner_content_offcanvas,
  .sidebar_offcanvas
    height: 100vh
    overflow: scroll

.sidebar_offcanvas
  overflow: scroll
  +omega
  +media($desktop)
    +span-columns(3 of 12, block-collapse)
    position: fixed

+media($mobile_and_tablet_portrait)
  .sidebar_offcanvas
    left: -90%
    height: 0
    width: 0
    +transition(left .25s ease-out)

    &.expanded
      box-shadow: rem(200) rem(0) rem(0) rem(6) rgba(0, 0, 0, 0.6)
      position: absolute
      top: 0
      left: 0
      height: auto
      min-height: 100vh
      width: 90%
      overflow: visible
      z-index: 1000

  .inner_content_offcanvas
    &.concealed
      cursor: pointer
      height: 100vh
      overflow: hidden
