#top_nav
  +display(flex)

  .sessions &,
  body[data-view-name="menus-show"] &,
  body[data-view-name="admins-show"] &,
  body[data-view-name="infos-show"] &,
  body[data-view-name="settings-show"] &,
  body[data-view-name*="registrations-edit"] &
    @extend .hidden

  a
    @extend .block
    &.hide_on_mobile
      @extend .hide_on_mobile
    &.hide_on_tablet_portrait
      @extend .hide_on_tablet_portrait
    &.hide_on_desktop
      @extend .hide_on_desktop

  .menu_icon,
  .search
    width: $line_height_buffer_base

  .logo,
    +media($mobile)
      width: $line_height_buffer_base

  .search
    +flex-grow(1)
    &.search_starting_width
      max-width: $line_height_buffer_base

  .news_feed,
  .metrics
    +flex-grow(1)

    a
      min-width: rem(96)

  .news_feed a
    +media($mobile)
      border-left: 0

  .metrics a
    +media($mobile)
      border-right: 0

  .search
    input
      height: $line_height_buffer_base

    ul.results
      line-height: $line_height_buffer_xl
      position: absolute
      width: 100%
      z-index: 1000
      margin-top: rem(1)
      margin-left: $results_margin_offset

      ul.measures
        margin-left: $results_margin_inner
        overflow: hidden

      .icon
        margin-right: $results_margin_icon
        margin-left: -($line_height_buffer_base)

    .search_results_container
      position: relative

.search_background
  background-color: $white
  position: absolute
  width: 100%
  +calc(margin-top, "-#{$buffer_base}")

svg
  #top_nav &
    @extend .vertical_align_middle

  #top_nav .logo &
    width: $icon_size_xs
    +media($tablet_portrait_and_desktop)
      width: rem(70)

  #top_nav .menu_icon &
    width: $icon_size_small
