#top_nav
  display: flex

  .sessions &, .passwords &
    display: none

  .logo
    background: transparent image-url('dabo-d-logo.svg') no-repeat center
    +media($desktop)
      background: transparent image-url('dabo-logo.svg') no-repeat center

  .menu_icon
    background: transparent image-url('menu-icon.svg') no-repeat center

  .logo,
  .menu_icon
    background-size: contain
    background-origin: content-box
    +media($mobile)
      max-width: rem(33)
      width: rem(33)

  .logo > a,
  .metrics > a,
  .news_feed > a
    display: block

  .logo,
  .menu_icon,
  .search
    flex-grow: 1

  .news_feed,
  .metrics
    flex-grow: 3

  .search
    +media($desktop)
      flex-grow: 4

    &.hide_on_tablet_portrait.hide_on_desktop
      input
        display: none
