.measures_nav_btn.measures_nav_current_node.inner_padding_small.line_height_buffer_xl.hide_on_mobile.hide_on_tablet_portrait.border_bottom_grey{ class: ('text_center' unless node.type == 'measure') }
  %span.text_ellipsis
    = node.title
