.row
  .new
    = link_to 'Create new Account', new_dabo_admin_account_path, class: 'btn_blue'

  .table_responsive.top_margin_base.bottom_margin_base
    %table.table.table_bordered.table_hover
      %thead
        %tr
          %th Name
      - @accounts.each do |account|
        %tr
          %td
            = link_to account.virtual_system_name, dabo_admin_account_path(account)
