---
http_interactions:
- request:
    method: get
    uri: https://data.medicare.gov/resource/xubh-q36u.json?$limit=50000&$offset=0&$select=provider_id,hospital_name,hospital_type,city,state,zip_code
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token: []
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 17 Dec 2014 23:13:44 UTC
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '["hospital_name",":updated_at","zip_code","provider_id","state","hospital_type",":id",":created_at","city"]'
      X-Soda2-Types:
      - '["text","meta_data","text","text","text","text","meta_data","meta_data","text"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "hospital_name" : "SOUTHEAST ALABAMA MEDICAL CENTER",
          "zip_code" : "36301",
          "provider_id" : "010001",
          "state" : "AL",
          "hospital_type" : "Acute Care Hospitals",
          "city" : "DOTHAN"
        }
        , {
          "hospital_name" : "MARSHALL MEDICAL CENTER SOUTH",
          "zip_code" : "35957",
          "provider_id" : "010005",
          "state" : "AL",
          "hospital_type" : "Acute Care Hospitals",
          "city" : "BOAZ"
        }
        , {
          "hospital_name" : "ELIZA COFFEE MEMORIAL HOSPITAL",
          "zip_code" : "35631",
          "provider_id" : "010006",
          "state" : "AL",
          "hospital_type" : "Acute Care Hospitals",
          "city" : "FLORENCE"
        }
         ]
  recorded_at: Fri, 27 Feb 2015 19:31:11 GMT
recorded_with: VCR 2.9.3
