- # name, provider id, city and state
%ul
  %li
    Name:
    = @hospital.name
  %li
    Provider Id:
    = @hospital.provider_id
  %li
    City:
    = @hospital.city
  %li
    State:
    = @hospital.state
