#select_and_compare
  margin: rem(16) 0
  position: relative

  .select_container
    +span-columns(6)
    .dropdown_button
      height: rem(45)
      line-height: rem(43)
      cursor: pointer
      padding: 0 rem(10)
      position: relative
      z-index: 2
      .text
        width: 80%
        +ellipsis()
      .icon
        color: $dabo-blue

    .dropdown_items
      display: none
      left: 0
      position: absolute
      width: 100%
      z-index: 1
      margin-top: rem(-1)
      max-height: rem(200)
      overflow-y: scroll

    &.open
      .dropdown_button
        background-color: white
        border-bottom-width: 0
        height: rem(60)
        .icon:before
          content: "\F191"
      .dropdown_items
        display: inline-block
        .search_box
          padding: rem(5) rem(13)
          .icon_search
            color: $dabo-blue
          input
            border: 0
            outline: 0
            width: 90%
            font-size: 1rem
            margin-left: rem(10)
        ul
          padding: rem(16) rem(40)
        li
          margin-bottom: rem(8)
          &:last-of-type
            margin-bottom: 0
          .subtitle
            color: $grey
