= render 'user_profiles/user_nav', user_name: current_user.email
= render 'user_profiles/segmented_controls'

.inner_padding_large
  %p.line_height_buffer_xl Change password
  %p.line_height_buffer_xl Notification settings
