.user_profile_img.top_margin_base.bottom_margin_large.text_center
  = link_to user_profiles_info_path, class: 'icon border_grey inner_padding_large' do
    = render 'shared/icon', icon: '#icon_user'

  %p.top_margin_base= current_user.email
