.measure_detail
  .measure_measure
    Percent of patients who reported that their nurses "Always" communicated well
  .measure_detail_actions.border_top_grey.border_bottom_grey
    .action
      %span.icon.icon_large.icon_left.icon_comments
      %span.text Discuss
    .action
      %span.icon.icon_large.icon_left.icon_share
      %span.text Share
    .action
      %span.icon.icon_large.icon_left.icon_book_open
      %span.text Learn
    .action
      %span.icon.icon_large.icon_left.icon_chart_trend
      %span.text Improve
  .card_container
    .new_conversation.border_grey Start a conversation...
    .card.border_grey
      .card_title.border_bottom_grey
        Conversation title
        %span.icon.icon_float_right.icon_large.icon_comments
      .card_body Conversation
      .card_action.border_top_grey Write a comment...
