#measures_nav_container.affix_beneath_top_nav.col2.bottom_margin_base
  - if node.type == 'measure'
    = render 'parent_back_nav', node: node.parent, grandparent: true
  = render 'parent_back_nav', node: node, grandparent: false
  = render 'public_charts/measures_nav/node', node: node, current_node: node
