- if node == current_node
  = render 'public_charts/node_nav/current_node',
    node: node,
    current_node: current_node
- else
  = render 'public_charts/node_nav/default',
    node: node,
    current_node: current_node
