#select_and_compare.defaut_row.clearfix
  .select_container.open
    .dropdown_button.border_grey
      %span.text Saint Marys Hospital
      %span.icon.icon_large.icon_float_right.icon_arrow_large_down
    .dropdown_items.border_grey
      .search_box.border_bottom_grey
        %span.icon.icon_large.icon_search
        %input{placeholder: 'Search a hospital'}
        %span.icon.icon_large.icon_float_right.icon_close
      %ul
        %li
          %p Hospital Related to User A
          %p.subtitle City, State
        %li
          %p Hospital Related to User B
          %p.subtitle City, State
        %li
          %p Hospital Related to User C
          %p.subtitle City, State

  .select_container
    .dropdown_button.border_grey
      %span.text Rochester, MN
      %span.icon.icon_large.icon_float_right.icon_arrow_large_down
    .dropdown_items.border_grey
      %ul
        %li
          %p City, State of Selected Hospital
          %p.subtitle 14 Hospital
        %li
          %p State of Selected Hospital
          %p.subtitle 19 Hospitals
        %li
          %p Healthcare System of Hospital
          %p.subtitle 10 Hospitals
        %li
          %p Nation-wide
          %p.subtitle 4500 Hospital
