#select_and_compare.defaut_row.clearfix
  .select_container
    .dropdown_button.border_grey
      %span.text Saint Marys Hospital
      %span.icon.icon_large.icon_float_right.icon_arrow_large_down

  .select_container
    .dropdown_button.border_grey
      %span.text Rochester, MN
      %span.icon.icon_large.icon_float_right.icon_arrow_large_down
