= render 'shared/measures_nav/measures_nav_container', node: @node

%div#main_content.col9
  = render 'public_charts/breadcrumbs/breadcrumbs', node: @node
  = render 'public_charts/overall_ranking_chart', node: @node

  - if @node.children
    - @node.children.each do |child|
      = render 'public_charts/measure_teaser', child: child
  - else
    RENDER MEASURE DETAIL



