.measure_detail
  = render 'measures_nav_back_btn', title: 'Communication with Nurses'
  .measure_detail_chart
    Percent of patients who reported that their nurses "Always" communicated well
  .measure_detail_actions.border_top_grey.border_bottom_grey
    .action Discuss
    .action Share
    .action Learn
    .action Improve
  .measure_detail_conversations
    .new_conversation.border_grey Start a conversation...
    .conversation.border_grey
      .title.border_bottom_grey
        Conversation title
        %span.icon.icon_right.icon_large.icon_comments
      .content Conversation
      .new_comment.border_top_grey Write a comment...

Chart identifier is #{@node.short_name} at #{@node.path}

%ul
  - @node.children.each do |child|
    %li= link_to child.short_name, id: child.path


