%div.card_container.border_grey
  %div.card_title.border_bottom_grey
    %span.text Title
    %span.icon.icon_right.icon_large.icon_comments
  %div.card_body
    Message
  %div.card_action.border_top_grey
    Action
