%div#filter
  %div#most_recent.border_grey
    %span.icon.icon_large.icon_left.icon_clock
    %span.text Most Recent
    %span.icon.icon_large.icon_right.icon_arrow_large_down
  %div#conversations.border_grey
    %span.icon.icon_large.icon_left.icon_comments
    %span.text Conversations
  %div#quality_projects.border_grey
    %span.icon.icon_large.icon_left.icon_chart_trend
    %span Quality Projects
  %div#shared_with_me.border_grey
    %span.icon.icon_large.icon_left.icon_share
    %span Shared with Me
