.card_container.top_buffer_base.border_grey
  .card_title.inner_padding_base.line_height_base.border_bottom_grey
    %span.text Title
    %span.icon.icon_size_base.float_right.vertical_align_middle
      = render 'shared/icon', icon: '#icon_conversation'
  .card_body.inner_padding_base
    Message
  .card_action.inner_padding_base.border_top_grey
    Action
