.hide_on_desktop.hide_on_tablet_portrait
  .mobile_dropdown_button.news_feed_filter_item.border_grey
    %span.icon.icon_large.icon_clock
    %span.text Most Recent
    %span.icon.icon_large.icon_float_right.arrow_icon.icon_arrow_large_down
  .dropdown
    .news_feed_filter_item.border_grey
      %span.icon.icon_large.icon_comments
      %span.text Conversations
    .news_feed_filter_item.border_grey
      %span.icon.icon_large.icon_chart_trend
      %span.text Quality Projects
    .news_feed_filter_item.border_grey
      %span.icon.icon_large.icon_shared_with_me
      %span.text Shared with Me

.hide_on_mobile
  .news_feed_filter_item.border_grey
    %span.icon.icon_large.icon_clock
    %span.text Most Recent
  .news_feed_filter_item.border_grey
    %span.icon.icon_large.icon_comments
    %span.text Conversations
  .news_feed_filter_item.border_grey
    %span.icon.icon_large.icon_chart_trend
    %span.text Quality Projects
  .news_feed_filter_item.border_grey
    %span.icon.icon_large.icon_shared_with_me
    %span.text Shared with Me
