development: &default
  adapter: postgresql
  database: iris_development
  pool: 5
  timeout: 5000
  port: <%= ENV["BOXEN_POSTGRESQL_PORT"] || 5432 %>
  host: localhost

test:
  <<: *default
  database: iris_test<%= ENV['TEST_ENV_NUMBER'] %>
  min_messages: warning
  port: <%= ENV["BOXEN_POSTGRESQL_PORT"] || 5432 %>
  host: localhost

acceptance:
  <<: *default

staging:
  <<: *default

production:
  <<: *default

