%li.bottom_buffer_small
  %p.no_margin #{hospital.city}, #{hospital.state}
  %p.text_muted 14 Hospital
%li.bottom_buffer_small
  %p.no_margin= hospital.state
  %p.text_muted 19 Hospitals
%li.bottom_buffer_small
  %p.no_margin= hospital.hospital_system_name
  %p.text_muted 10 Hospitals
%li
  %p.no_margin Nation-wide
  %p.text_muted 4500 Hospital
