@hospitals.each do

$.get(that._searchEndpoint(request.term), function(result) {
  // ul.empty();
  _.each(result, function(item) {
    var li = $('<li>')
      .addClass('bottom_buffer_small link')
      .attr('data-value', item.id)
      .appendTo(ul);

    $('<p>').html(item.name).addClass('no_margin')
    .appendTo(li);

    $('<p>').html(item.city + ', ' + item.state).addClass('text_muted')
    .appendTo(li);

    response([]);
