%p Invalid email or password. We sent an e-mail with instructions on how to reset your password.

%form.top_margin_large.bottom_margin_large
  .form_control.disabled= current_user.email

.actions
  .col6
    = link_to 'Login to another account', new_user_session_path
  .col6
    = link_to 'Create an account', new_user_registration_path
