.row
  .login.top_margin_large.centered
    = render 'devise/shared/logo'
    %h2.bottom_margin_base Sign In
    - if alert
      #error_explanation
        %p= alert
    - if @reset_password
      = render 'reset_password_message'
    - else
      = render 'login_form'
