- content_for :join_box do
  #login.border_right_grey.border_left_grey.inner_padding_base.border_bottom_grey
    - if @is_last_attempt
      %h2.no_margin.horizontal_padding_base Reset Password
      = render 'reset_password_message'
    - else
      = render 'login_form'

= render 'devise/shared/join_box'
