.row
  .login.top_margin_large.centered
    = render 'devise/shared/logo'
    - if @sessions_presenter.reset_password_message?
      %h2.bottom_margin_base Reset Password
      = render 'reset_password_message', user_email: @sessions_presenter.user_email
    - else
      %h2.bottom_margin_base Sign In
      = render 'login_form', error_class: @sessions_presenter.css_class
