.measure_detail
  .chart
    = render 'public_charts/detail_charts/default_chart'
  .actions.inner_padding_small.border_bottom_grey.clearfix
    .action.text_center
      %span.icon.icon_large.icon_left.icon_comments
      %span.text.hide_on_mobile Discuss
    .action.text_center
      %span.icon.icon_large.icon_left.icon_shared_with_me
      %span.text.hide_on_mobile Share
    .action.text_center
      %span.icon.icon_large.icon_left.icon_book_open
      %span.text.hide_on_mobile Learn
    .action.text_center
      %span.icon.icon_large.icon_left.icon_chart_trend
      %span.text.hide_on_mobile Improve
  .card_container.inner_padding_base
    .new_conversation.inner_padding_base.border_grey Start a conversation...
    .card.top_buffer_base.border_grey
      .card_title.inner_padding_base.border_bottom_grey
        Conversation title
        %span.icon.float_right.icon_large.icon_comments.line_height_computed
      .card_body.inner_padding_base Conversation
      .card_action.inner_padding_base.border_top_grey Write a comment...
