= render 'user_profiles/user_nav', title: current_user.email
= render 'user_profiles/segmented_controls'

.inner_padding_large
  %p.line_height_buffer_xl= link_to 'Update Password', edit_user_registration_path
  %p.line_height_buffer_xl Notification settings
