.row
  %h1 Editing User

  = render 'form', user: @user

  -if @user.locked_at
    %td= button_to 'Unlock', dabo_admin_user_path(@user), method: :patch, params: {:'user[locked_at]' => nil, :'user[failed_attempts]' => 0}

  .bottom_buffer_base
    = link_to 'Show', dabo_admin_user_path(@user)
    \|
    = link_to 'Back', dabo_admin_users_path
