.row
  %h1.float_left Users
  = link_to 'Create new User', |
    new_dabo_admin_user_path, |
    class: 'btn_blue float_right top_margin_base'

.row
  .table_responsive.top_margin_base.bottom_margin_base
    %table.table.table_bordered.table_hover
      %thead
        %tr
          %th Email
      - @users.each do |user|
        %tr
          %td= link_to user.email, dabo_admin_user_path(user)
