.icon
  padding-right: 5px
  color: #acacac
  font-size: 15px

.icon:before
  font-family: 'DaboIcons'
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none

.icon-medium
  font-size: 16px

.icon-large
  font-size: 24px
  vertical-align: -3px

.icon-search:before
  content: "\F002"

.icon-zoom-plus:before
  content: "\F003"

.icon-zoom-minus:before
  content: "\F004"

.icon-eye:before
  content: "\F005"

.icon-pen:before
  content: "\F012"

.icon-compose:before
  content: "\F013"

.icon-paper-clip:before
  content: "\F015"

.icon-mail:before
  content: "\F017"

.icon-comments:before,
.icon-my_conversations:before
  content: "\F018"

.icon-comment:before
  content: "\F019"

.icon-person:before,
.icon-related_to_physicians:before
  content: "\F025"

.icon-people:before
  content: "\F026"

.icon-heart:before
  content: "\F027"

.icon-star:before
  content: "\F029"

.icon-home:before
  content: "\F033"

.icon-tag:before
  content: "\F039"

.icon-bookmark-single:before
  content: "\F040"

.icon-bookmarks:before
  content: "\F041"

.icon-flag:before
  content: "\F042"

.icon-camera-pro:before
  content: "\F043"

.icon-camera-vintage:before
  content: "\F044"

.icon-photo:before
  content: "\F045"

.icon-video:before
  content: "\F046"

.icon-video-camera:before
  content: "\F047"

.icon-microphone-vintage:before
  content: "\F048"

.icon-music-note:before
  content: "\F049"

.icon-music-notes:before
  content: "\F050"

.icon-phone-classic:before
  content: "\F051"

.icon-phone-mobile:before
  content: "\F052"

.icon-computer-mouse:before
  content: "\F053"

.icon-monitor:before
  content: "\F054"

.icon-browser:before
  content: "\F055"

.icon-printer:before
  content: "\F056"

.icon-disc:before
  content: "\F057"

.icon-book:before
  content: "\F058"

.icon-clip-board:before
  content: "\F059"

.icon-newspaper-article:before
  content: "\F060"

.icon-pin:before
  content: "\F061"

.icon-pin-dot:before
  content: "\F062"

.icon-map:before
  content: "\F063"

.icon-compass:before
  content: "\F064"

.icon-direction-northeast:before
  content: "\F065"

.icon-direction:before
  content: "\F066"

.icon-address:before
  content: "\F067"

.icon-globe:before
  content: "\F068"

.icon-lightbulb:before
  content: "\F069"

.icon-share:before,
.icon-shared_with_me:before
  content: "\F071"

.icon-alarm-bell:before
  content: "\F072"

.icon-clock:before,
.icon-most_recent
  content: "\F073"

.icon-stopwatch:before
  content: "\F074"

.icon-calendar:before
  content: "\F075"

.icon-book-open:before
  content: "\F080"

.icon-book-text:before
  content: "\F081"

.icon-paper-text:before
  content: "\F082"

.icon-document:before
  content: "\F083"

.icon-document-text:before
  content: "\F084"

.icon-upload:before
  content: "\F089"

.icon-download:before
  content: "\F090"

.icon-cloud-full:before
  content: "\F091"

.icon-cloud-download:before
  content: "\F092"

.icon-cloud-upload:before
  content: "\F093"

.icon-reply:before
  content: "\F094"

.icon-reply-all:before
  content: "\F095"

.icon-forward:before
  content: "\F096"

.icon-drive:before
  content: "\F097"

.icon-drive-download:before
  content: "\F098"

.icon-save:before
  content: "\F099"

.icon-remove-circle:before
  content: "\F102"

.icon-locked:before
  content: "\F103"

.icon-unlocked:before
  content: "\F104"

.icon-key-classic:before
  content: "\F105"

.icon-settings:before
  content: "\F106"

.icon-database:before
  content: "\F107"

.icon-box:before
  content: "\F108"

.icon-credit-card:before
  content: "\F109"

.icon-graph-bar:before
  content: "\F110"

.icon-chart-pie:before
  content: "\F111"

.icon-chart-bar:before
  content: "\F112"

.icon-chart-trend:before,
.icon-my_quality_projects:before,
.icon-quality-project:before
  content: "\F113"

.icon-voicemail:before
  content: "\F121"

.icon-rss:before
  content: "\F122"

.icon-signal:before
  content: "\F123"

.icon-code:before
  content: "\F124"

.icon-infinity-sign:before
  content: "\F125"

.icon-sound-full:before
  content: "\F126"

.icon-sound-medium:before
  content: "\F127"

.icon-sound-small:before
  content: "\F128"

.icon-sound-mute:before
  content: "\F129"

.icon-play-wireless:before
  content: "\F130"

.icon-play:before
  content: "\F131"

.icon-pause:before
  content: "\F132"

.icon-record:before
  content: "\F133"

.icon-stop:before
  content: "\F134"

.icon-fast-forward:before
  content: "\F135"

.icon-fast-backward:before
  content: "\F136"

.icon-play-forward:before
  content: "\F137"

.icon-play-backward:before
  content: "\F138"

.icon-volume:before
  content: "\F139"

.icon-repeat:before
  content: "\F140"

.icon-shuffle:before
  content: "\F141"

.icon-rotate-left:before
  content: "\F142"

.icon-rotate-right:before
  content: "\F143"

.icon-repeat-circle:before
  content: "\F144"

.icon-cycle:before
  content: "\F145"

.icon-back-time:before
  content: "\F146"

.icon-back:before
  content: "\F147"

.icon-level-down:before
  content: "\F148"

.icon-loop:before
  content: "\F149"

.icon-level-up:before
  content: "\F150"

.icon-retweet:before
  content: "\F151"

.icon-switch:before
  content: "\F152"

.icon-merge:before
  content: "\F153"

.icon-check-sign:before
  content: "\F154"

.icon-plus-sign:before
  content: "\F155"

.icon-minus-sign:before
  content: "\F156"

.icon-close:before
  content: "\F157"

.icon-plus-square:before
  content: "\F158"

.icon-minus-square:before
  content: "\F159"

.icon-close-square:before
  content: "\F160"

.icon-plus-circle:before
  content: "\F161"

.icon-minus-circle:before
  content: "\F162"

.icon-close-circle:before
  content: "\F163"

.icon-delete:before
  content: "\F164"

.icon-help-circle:before
  content: "\F165"

.icon-help:before
  content: "\F166"

.icon-info-circle:before
  content: "\F167"

.icon-warning:before
  content: "\F168"

.icon-grid-large:before
  content: "\F169"

.icon-grid:before
  content: "\F170"

.icon-layout:before
  content: "\F171"

.icon-rows:before
  content: "\F172"

.icon-columns:before
  content: "\F173"

.icon-list:before
  content: "\F174"

.icon-list-bullets:before
  content: "\F175"

.icon-list-add:before
  content: "\F176"

.icon-login:before
  content: "\F177"

.icon-logout:before
  content: "\F178"

.icon-resize-up:before
  content: "\F180"

.icon-resize-down:before
  content: "\F181"

.icon-carets:before
  content: "\F182"

.icon-arrow-small-up:before
  content: "\F183"

.icon-arrow-small-right:before
  content: "\F184"

.icon-arrow-small-down:before
  content: "\F185"

.icon-arrow-small-left:before
  content: "\F186"

.icon-arrow-up:before
  content: "\F187"

.icon-arrow-right:before
  content: "\F188"

.icon-arrow-down:before
  content: "\F189"

.icon-arrow-left:before
  content: "\F190"

.icon-arrow-large-up:before,
.icon-arrow-large-collapse:before
  content: "\F191"

.icon-arrow-large-right:before
  content: "\F192"

.icon-arrow-large-down:before,
.icon-arrow-large-collapse:before
  content: "\F193"

.icon-arrow-large-left:before
  content: "\F194"

.icon-arrow-long-up:before
  content: "\F195"

.icon-arrow-long-up-right:before
  content: "\F196"

.icon-arrow-long-right:before
  content: "\F197"

.icon-arrow-long-down:before
  content: "\F198"

.icon-arrow-long-left:before
  content: "\F199"

.icon-arrow-long-up-left:before
  content: "\F200"

.icon-triangle-small-up:before
  content: "\F201"

.icon-triangle-small-right:before
  content: "\F202"

.icon-triangle-small-down:before
  content: "\F203"

.icon-triangle-small-left:before
  content: "\F204"

.icon-triangle-large-up:before
  content: "\F205"

.icon-triangle-large-right:before
  content: "\F206"

.icon-triangle-large-down:before
  content: "\F207"

.icon-triangle-large-left:before
  content: "\F208"
