.top_buffer_large
  margin-top: $large_buffer

.bottom_buffer_large
  margin-bottom: $large_buffer

.top_buffer
  margin-top: $buffer

.bottom_buffer
  margin-bottom: $buffer

.no_margin
  margin: 0

.no_padding
  padding: 0

.centered
  margin: 0 auto

.inner_padding
  padding: rem(8)

.default_line_height
  line-height: $line_height_base

.float_left
  float: left

.float_right
  float: right
