$max-width: em(1088)

//**** Colors ****
$grey: #acacac
$dabo-blue: #008ce3

//***** Breakpoints *****
$desktop: min-width 850px
$tablet_portrait: min-width 768px max-width 849px
$mobile: max-width 767px
