@import bourbon
@import neat
@import reset
@import variables
@import flip
@import jquery-ui/datepicker
@import "**/*"

body
  font-family: $helvetica
  line-height: 1.5

#outer_container
  +outer-container

.clearfix
  @include clearfix

.border_grey
  border: rem(1) solid $grey

.border_top_grey
  border-top: rem(1) solid $grey

.border_bottom_grey
  border-bottom: rem(1) solid $grey

h1
  font-size: rem(20)

h2
  font-size: rem(18)

.centered
  margin: 0 auto

#main_content
  +media($desktop)
    padding-left: rem(30)
    border-left: rem(1) solid $grey

.text_ellipsis
  display: inline-block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  width: 90%

.hide_on_mobile
  +media($mobile)
    display: none

.hide_on_tablet_portrait
  +media($tablet_portrait)
    display: none

.hide_on_desktop
  +media($desktop)
    display: none

.top_buffer
  margin-top: rem(30)
