@import bourbon
@import neat
@import variables
@import "**/*"

html
  font-family: $helvetica

#outer_container
  +outer-container

#top_nav
  div
    float: left
    text-align: center
  >div
    padding: 8px
    border: 1px solid $grey
  #logo
    background: transparent url('dabo-d-logo.svg') no-repeat
    +media($desktop)
      background: transparent url('dabo-logo.svg') no-repeat 7px
  #menu_icon
    background: transparent url('menu-icon.svg') no-repeat
    min-height: 24px
    width: 100%
    +media($desktop)
      width: 30%
  #logo,
  #menu
    background-size: contain
    background-origin: content-box
    min-height: 42px
    width: 10%
  #menu_text
    width: 0
    display: none
    +media($desktop)
      width: 70%
      display: inline-block
  #news_feed,
  #metrics
    width: 40%
