.measure_detail
  $padding: 0.4rem 0.85rem
  $border: 1px solid $grey

  > div
    +row()

  .measure_detail_chart
    padding: $padding
    height: 200px

  .measure_detail_actions
    padding: $padding
    border-bottom: $border
    .action
      +span-columns(3)
      text-align: center

  .measure_detail_conversations
    padding: $padding
    .new_conversation
      margin-top: 1rem
      padding: $padding
      border: $border
    .conversation
      margin-top: 1rem
      border: $border
      .title
        margin: $padding
        padding: 0.375rem 0
        border-bottom: $border
      .content
        height: 100px
        padding: $padding
        border-bottom: $border
      .new_comment
        padding: $padding
