.card_container.border_grey
  .card_title.border_bottom_grey
    %span.text Title
    %span.icon.icon_float_right.icon_large.icon_comments
  .card_body
    Message
  .card_action.border_top_grey
    Action
