%div#news_feed_filter
  %div.selected_item.border_grey
    %span.icon.icon_large.icon_clock
    %span.text Most Recent
    %span.icon.icon_large.icon_right.icon_arrow_large_down
  %div.unselected
    %div.news_feed_filter_item.border_grey
      %span.icon_and_text
        %span.icon.icon_large.icon_comments
        %span.text Conversations
    %div.news_feed_filter_item.border_grey
      %span.icon_and_text
        %span.icon.icon_large.icon_chart_trend
        %span.text Quality Projects
    %div.news_feed_filter_item.border_grey
      %span.icon_and_text
        %span.icon.icon_large.icon_share
        %span.text Shared with Me
