.measure_detail
  = render partial: 'layouts/measures_nav_back_btn', locals: { title: "Communication with Nurses" }
  .measure_detail_chart
    Percent of patients who reported that their nurses "Always" communicated well
  .measure_detail_actions.border_grey
    .action Discuss
    .action Share
    .action Learn
    .action Improve
  .measure_detail_conversations
    .new_conversation.border_grey Start a conversation...
    .conversation.border_grey
      .title
        Conversation title
        %span.icon.icon_right.icon_large.icon_comments
      .content Conversation
      .new_comment.border_grey Write a comment...
