.measure_detail
  .measures_nav_btn.back_btn
    %span.icon.icon-left.icon-large.icon-arrow-large-left
    %span.text Communication with Nurses
  .measure_detail_chart
    Percent of patients who reported that their nurses "Always" communicated well
  .measure_detail_actions
    .action Discuss
    .action Share
    .action Learn
    .action Improve
  .measure_detail_conversations
    .new_conversation Start a conversation...
    .conversation
      .title Conversation title
      .content Conversation
      .new_comment Write a comment...
