#measures_nav_container.col3
  +media($desktop)
    @include span-columns(3 of 12, block-collapse)
    @include omega

#measures_nav_container
  margin-top: -($buffer * 1)

.measures_nav_btn
  height: rem(45)
  line-height: rem(28)
  position: relative

  .icon
    color: $dabo-blue

  .current_node_text
    width: 80%
    +media($desktop)
      @extend .hide_on_desktop

.back_btn_container
  +media($desktop)
    margin-bottom: 0

  .back_btn
    position: absolute
    +media($tablet_portrait)
      width: 25%
    +media($desktop)
      width: 95%

.forward_btn,
.current_node_text,
.back_btn
  display: block
