- flash.each do |name, message|
  .feedback_bar.inner_padding_small.col12.clearfix.affix_beneath_top_nav
    %span.col9-xs.message{ class: name }
      = sanitize(message)
    %a.icon.icon_size_xs.icon_close.col3-xs{ href: '#' }
      = render 'shared/icon', icon: '#icon_close', klass: 'vertical_align_middle float_right'
