%form{data: {url: measure_search_results_path}}
  .has_icon.clearfix.line_height_buffer_base
    %input.form_control.float_left.no_border.no_margin#q{name: 'q', type: 'text'}
    %span.icon.icon_size_small.icon_search.float_right.form_control_icon
      = render 'shared/icon', icon: '#icon_search', klass: 'vertical_align_middle'
    %span.icon.icon_size_small.icon_close.float_right.form_control_icon.hidden
      = render 'shared/icon', icon: '#icon_close', klass: 'vertical_align_middle'

.search_results_container
  %ul.unstyled.results
