#top_nav.clearfix
  .logo.border_grey
    = link_to 'Home', root_url
  .nav_btns
    .news_feed.border_grey
      = link_to 'News Feed', news_feed_path
    .metrics.border_grey
      = link_to 'Metrics', metrics_path
  .dead_space.hide_on_mobile.border_grey
  .search.border_grey.hide_on_tablet.hide_on_desktop
    %form{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input#q{:name => "q", :type => "text"}/
      .icon.icon_search
  .search.hide_on_mobile.border_grey
    %form{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input#q{:name => "q", :type => "text"}/
      .icon.icon_float_right.icon_search
  .menu_icon.border_grey Menu
