#top_nav.clearfix
  #logo.border_grey
    = link_to '', root_url
  #news_feed.border_grey
    = link_to 'News Feed', news_path
  #metrics.border_grey
    = link_to 'Metrics', metrics_path
  #menu.border_grey
    #menu_icon Menu
    #menu_text.hide_on_mobile.hide_on_tablet_portrait Menu
