<div class="top-nav">
  <div class="logo"></div>
  <div class="news-feed">News Feed</div>
  <div class="metrics">Metrics</div>
  <div class="menu">
      <div class="menu-icon"></div>
      <div class="menu-text">Menu</div>
  </div>
</div>
