<div class="row top-nav">
  <div class="logo-wrapper">
    <div class="logo-icon">D</div>
    <div class="logo-text">Dabo</div>
  </div>
  <div class="news-feed">News Feed</div>
  <div class="metrics">Metrics</div>
  <div class="menu-wrapper">
    <div class="menu-icon">=</div>
    <div class="menu-text">Menu</div>
  </div>
</div>
